[submodule "3rdparty/result"]
	path = 3rdparty/result
	url =  https://github.com/tylerreisinger/result.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
